.first-row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 70px;
}
.first-row .banner-content{
    flex-basis: 60%;
}
.first-row .banner-image{
    flex-basis: 40%;
}
.content h4{
    color: #5E43FF;
    font-weight: 600;
    font-size: 50px;
    line-height: 76px;
}
.content{
    width: 72%;
}
.content a{
    background: #5E43FF;
    color: white !important;
    padding: 5px 50px;
    border-radius: 25px;
}
