.footer-section{
    background: #111111;
    padding-top: 50px;
    padding-bottom: 40px;
}
/* .footer-logo img{
    margin-bottom: 20px;
} */
.social-icon img{
    padding-right: 10px;
    width: 10%;
}
.footer-content h6{
    color: #707070;
    letter-spacing: 10px;
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 20px;
}
.footer-content p{
    color: white;
    font-weight: 400;
}