.touch-section{
    padding-top: 50px;
    padding-bottom: 50px;
}
.touch-title{
    font-size: 35px;
    text-align: center;
    margin-bottom: 40px;
    font-weight: 600;
}
.touch-img{
    width: 5%;
    margin-left: 17px;
}
.touch-text a{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #5e43ff;
    text-decoration: none;
}
.touch-text{
    text-align: center;
}